body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
}

.box img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.first,
.second {
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.first {
    font-weight: 700;
}

.second {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}